@model BaiKiemTra02.Models.LopHoc

<h2>Chi tiết lớp học</h2>

<div>
    <h4>Lớp học: @Model.TenLopHoc</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Tên lớp học</dt>
        <dd class="col-sm-9">@Model.TenLopHoc</dd>

        <dt class="col-sm-3">Năm nhập học</dt>
        <dd class="col-sm-9">@Model.NamNhapHoc</dd>

        <dt class="col-sm-3">Năm ra trường</dt>
        <dd class="col-sm-9">@Model.NamRaTruong</dd>

        <dt class="col-sm-3">Số lượng sinh viên</dt>
        <dd class="col-sm-9">@Model.SoLuongSinhVien</dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Quay lại</a>
</div>

