@model Book

@{
    ViewData["Title"] = "Chi tiết Sách";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Tiêu đề:</h4>
    <p>@Model.Title</p>
</div>
<div>
    <h4>Năm xuất bản:</h4>
    <p>@Model.PublicationYear</p>
</div>
<div>
    <h4>Tác giả:</h4>
    <p>@Model.Author?.AuthorName</p>
</div>
<div>
    <h4>Thể loại:</h4>
    <p>@Model.Genre</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-warning">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
</div>
